.App {
  text-align: center;
  background-color: whitesmoke;
  margin: 10px auto;
  max-width: 550px;
  border-radius: 15px;
  padding: 10px;
}

button {
  background-color: #ddddee;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  margin: 10px;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  transition: transform 0.15s ease-out;
}

button:hover {
  transform: scale(1.15);
}

button:active {
  transform: scale(1);
}

svg {
  /* width: 500px;
  height: 500px; */
  touch-action: pinch-zoom;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  background-color: #efefef;
  /* outline: none; */
}

circle {
  transition: all 0.4s cubic-bezier(0,1.15,.47,1.02);
}

.App-header {
  /* background-color: aqua; */
}
