.App {
  text-align: center;
  background-color: whitesmoke;
  margin: 10px auto;
  max-width: 550px;
  border-radius: 15px;
  padding: 10px;
}

svg {
  /* width: 500px;
  height: 500px; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  /* outline: none; */
}

circle {
  transition: all 0.4s cubic-bezier(0,1.15,.47,1.02);
}

.App-header {
}
